.product_display_wrapper {
    margin: 1rem 0;
    max-width: 60vw;
    min-width: 200px;
    height: 500px;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 990px) {
    .product_display_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .product_display_wrapper {
        grid-template-columns: 2fr;
        overflow: auto;
    }
}

@media only screen and (max-width: 650px) {
    .product_display_wrapper {
        overflow: scroll;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}