.shopping_cart_wrapper {
    margin: 1rem 0;
    height: 500px;
    width: 350px;
    background-color: var(--aqua);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping_cart_wrapper header {
    display: flex;
    justify-content: center;
    background-color: var(--dark-aqua);
    color: var(--text-primary);
    font-family: var(--font-regular);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1.25rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: solid 2px #ccc;
}

@media only screen and (max-width: 650px) {
    .shopping_cart_wrapper {
        margin: 3rem 0;
        width: 300px;
    }
}