.orders_list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: inherit;
    height: 130px;
    width: 100%;
    padding: 0.5rem;
    overflow: auto;
}